.cart {
    padding: 64px 0px 48px 0px;
    background: #F9F9F9;
}

.cart__container {
    max-width: 1094px;
    padding: 0px 15px;
    margin: 0 auto;
}

.cart__title {
    font-family: 'Clash-Display';
    color: var(--mainColor);
    font-size: 36px;
    line-height: 140%;
    margin-bottom: 48px;
}

.cart__names {
    position: relative;
    display: flex;
    margin-bottom: 32px;
}

.cart__name::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    border: 1px solid #EBE8F4;
    bottom: -12px;
    left: 0;
}

.cart__name {
    font-family: 'Clash-Display';
    color: var(--mainColor);
    font-size: 14px;
    line-height: 140%;
}

.cart__items {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 60px;
}

.cart__item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    border: 1px solid #EBE8F4;
    bottom: -32px;
}

.cart__item {
    display: flex;
}

.cart__item-left {
    display: flex;
    gap: 21px;
    flex-grow: 5;
}

.cart__item-text {
    max-width: 179px;
}

.cart__item-text>*:not(:last-child) {
    margin-bottom: 8px;
}

.cart__item-title {
    font-family: 'Clash-Display';
    font-size: 20px;
    line-height: 140%;
    color: var(--mainColor);

}

.cart__item-description {
    font-family: 'Satoshi';
    font-size: 14px;
    line-height: 150%;
    color: var(--mainColor);

}

.name1 {
    flex-grow: 5;
}

.name2 {
    flex-grow: 2.5;
}

.amount__stepper {
    display: flex;
    align-items: center;
    flex-grow: 3.5;
    height: 46px;
    gap: 22px;
    background-color: #f9f9f9;
}

.stepper__button {
    font-family: "Satoshi";
    font-size: 16px;
    line-height: 100%;
    color: #EBE8F4;
}

.stepper__display {
    display: flex;
    gap: 33px;
}

.cart__item-total-price {
    font-family: 'Satoshi';
    font-size: 18px;
    line-height: 150%;
    color: var(--mainColor);
}

.cart__total {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.subtotal {
    margin-bottom: 16px;
}

.subtotal-up {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    margin-bottom: 12px;
}

.subtotal__title {
    font-family: 'Clash-Display';
    font-size: 20px;
    color: #4E4D93;
    line-height: 140%;
}

.subtotal__price {
    font-family: 'Clash-Display';
    font-size: 24px;
    color: var(--mainColor);
    line-height: 140%;
}

.taxes {
    font-family: 'Satoshi';
    color: #4E4D93;
font-size: 14px;
line-height: 150%;
}

.header__menu-list-item:first-child a {
  color: red;
}


@media (max-width:575px) {
    .cart {
        padding: 36px 0px 55px 0px;
    }
    .cart__title {
        font-size: 24px;
    }
    .cart__names {
        display: none;
    }
    .cart__item-total {
        display: none;
    }
    .amount__stepper {
        justify-content: end;
    }
    .cart__item {
        display: block;
    }
    .cart__button {
        width: 100%;
    };
}

@media (max-width:450px) {
    .amount__stepper {
        justify-content: center;
    }
}